{{- $current := .current -}}
{{- $long    := .params.long_pattern  | default site.Params.widgets.copyright.long_pattern  | default site.Data.defaults.widgets.copyright.long_pattern  -}}
{{- $short   := .params.short_pattern | default site.Params.widgets.copyright.short_pattern | default site.Data.defaults.widgets.copyright.short_pattern -}}
{{- $start   := string (.params.start | default site.Params.widgets.copyright.start         | default (time.Now | time.Format "2006")) -}}
{{- $end     := time.Now | time.Format "2006" -}}
{{- if ne $start $end -}}
    {{- $end = printf "-%s" $end -}}
{{- else -}}
    {{- $end = "" -}}
{{- end -}}
{{- $company := .params.company | default "Company" -}}
{{- $long_string := partial "inline/share_regex" (dict "pattern" "%%START%%"   "param" "%s" "value" $start   "string" $long)        -}}
{{- $long_string := partial "inline/share_regex" (dict "pattern" "%%END%%"     "param" "%s" "value" $end     "string" $long_string) -}}
{{- $long_string := partial "inline/share_regex" (dict "pattern" "%%COMPANY%%" "param" "%s" "value" $company "string" $long_string) -}}

<aside class="col widget widget-copyright" aria-label="copyright">
    <div class="widget-inner">
        {{- $long_string -}}
    </div>
</aside>

{{- define "partials/inline/share_regex" -}}
    {{- $new_value := "" -}}
    {{- if eq .value "" -}}
        {{- $new_value = (replaceRE .pattern "" .string ) -}}
    {{- else -}}
        {{- $new_value = (replaceRE .pattern (printf .param .value) .string ) -}}
    {{- end -}}
    {{- return $new_value -}}
{{- end -}}
