{{- $widget      := . -}}
{{- $heading_tag := site.Params.widgets.not_found.heading | default site.Data.defaults.widgets.not_found.heading  | default site.Data.defaults.widgets.heading -}}
{{- $title       := i18n (site.Params.widgets.not_found.title | default site.Data.defaults.widgets.not_found.title) -}}
{{/*- $heading_tag := printf "h%d" $heading_lev -*/}}
<aside class="col widget widget-not-found">
    <div class="widget-inner">
        <div class="widget-header">
            {{- with $title -}}
                {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag | safeHTML -}}
            {{- end -}}
        </div>
        <div class="widget-content">
            <p>{{- printf (i18n "widget-x-not-found") $widget | safeHTML -}}</p>
        </div>
    </div><!-- end of widget-inner -->
</aside><!-- end of col -->