{{- $current        := .current -}}
{{- $heading_tag    := .params.heading      | default site.Params.widgets.serieslist.heading    | default site.Data.defaults.widgets.heading             -}}
{{- $subheading_tag := .params.subheading   | default site.Params.widgets.serieslist.subheading | default site.Data.defaults.widgets.subheading          -}}
{{- $title          := i18n (.params.title  | default site.Params.widgets.serieslist.title      | default site.Data.defaults.widgets.serieslist.title)   -}}
{{- $num            := int (.params.num     | default site.Params.widgets.serieslist.num        | default site.Data.defaults.widgets.serieslist.num)     -}}
{{- $length         := int (.params.length  | default site.Params.widgets.serieslist.length     | default site.Data.defaults.widgets.serieslist.length)  -}}
{{- $columns        :=      .params.columns | default site.Params.widgets.serieslist.columns    | default site.Data.defaults.widgets.serieslist.columns  -}}
{{- $mode           :=      .params.mode    | default site.Params.widgets.serieslist.mode       | default site.Data.defaults.widgets.serieslist.mode     -}}
{{- $view_all       := .params.view_all     | default site.Params.widgets.serieslist.view_all   | default site.Data.defaults.widgets.serieslist.view_all -}}
{{- $class          := partialCached "partials/class-columns.html" $columns (delimit $columns "-") -}}
{{- with site.Taxonomies.series -}}
    {{- $series := slice -}}
    {{- range $name, $taxonomy := . -}}
        {{- $series = $series | append $name -}}
    {{- end -}}
    {{- if eq $num 0 -}}
        {{- $num = len $series -}}
    {{- end -}}
    {{- if eq $mode "list" -}}
        <aside class="col widget widget-series widget-series-list" aria-label="{{- with $title -}}{{- . | anchorize -}}{{- end -}}">
            <div class="widget-inner">
                <div class="widget-header">
                    {{- with $title -}}
                        {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag | safeHTML -}}
                    {{- end -}}
                </div>
                <ul class="widget-content">
                    {{- range $series | shuffle | first $num -}}
                        {{- $serie := index site.Taxonomies.series . -}}
                        {{- with $serie.Page -}}
                            <li><a href="{{- .RelPermalink -}}" title="{{- .Title | plainify | safeHTMLAttr -}}">{{- .Title -}}</a></li>
                        {{- end -}}
                    {{- end -}}
                    {{- with site.Taxonomies.series.Page -}}
                        <li><a href="{{- .Permalink -}}" title="{{- i18n "see-all-series-alt" -}}">{{- i18n "see-all-series" -}}</a></li>
                    {{- end -}}
                </ul>
            </div><!-- end of widget-inner -->
        </aside>
    {{- else -}}
        <section class="col widget widget-series widget-series-card">
            <div class="widget-inner">
                <div class="widget-header clearfix">
                    {{- with $title -}}
                        {{- if $view_all -}}
                            {{- with site.Taxonomies.series.Page -}}
                                <span class="d-none d-md-inline float-md-end see-all"><a href="{{- .Permalink -}}" title="{{- i18n "see-all-series-alt" -}}">{{- i18n "see-all-series" -}}</a></span>
                            {{- end -}}
                        {{- end -}}
                        {{- printf "<%s class=\"widget-title\">%s</%s>" $heading_tag . $heading_tag | safeHTML -}}
                        {{- if $view_all -}}
                            {{- with site.Taxonomies.series.Page -}}
                                <span class="d-block d-md-none see-all"><a href="{{- .Permalink -}}" title="{{- i18n "see-all-series-alt" -}}">{{- i18n "see-all-series" -}}</a></span>
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </div><!-- widget-header -->
                <div class="widget-content {{ $class -}}">
                    {{- range $series | shuffle | first $num -}}
                    <div class="col">
                        <aside class="card h-100" aria-label="{{- . -}}">
                            {{- $serie := index site.Taxonomies.series . -}}
                            {{- $num_posts := 0 -}}
                            {{- with $serie.Pages -}}
                                {{- $num_posts = len . -}}
                            {{- end -}}
                            {{- with $serie.Page -}}
                                <div class="card-header">
                                    {{- (printf "<%s class=\"card-title\"><a href=\"%s\" title=\"%s\">%s</a></%s>" $subheading_tag .RelPermalink (.Title | plainify | htmlUnescape) .Title $subheading_tag) | safeHTML -}}
                                </div>
                                <div class="card-body">
                                    {{- with .Params.Description -}}
                                        {{- $string := . -}}
                                        {{- if gt $length 0 -}}
                                            {{- $string = $string | truncate $length "..." -}}
                                        {{- end -}}
                                        <p>{{- $string | safeHTML -}}</p>
                                        {{- if gt $num_posts 0 -}}
                                            {{- printf (i18n "num-of-posts") $num_posts -}}
                                        {{- end -}}
                                    {{- end -}}
                                </div><!-- card-body -->
                            {{- end -}}
                        </aside>
                    </div><!-- col -->
                    {{- end -}}
                </div><!-- row -->
            </div><!-- end of widget-inner -->
        </section>
    {{- end -}}
{{- end -}}