<a href="{{- .Destination | safeURL -}}"{{- with .Title }} title="{{ . }}"{{- end -}} {{- if strings.HasPrefix .Destination "http" -}}target="_blank" rel="noopener noreferrer"{{- end -}}>
    {{- .Text | safeHTML -}}
    {{- if strings.HasPrefix .Destination "http" -}}
        {{- if strings.HasPrefix .Destination "https://github" }}
            &nbsp;<i class="bi bi-github"></i>
        {{- else if strings.Contains .Destination "wikipedia" -}}
            &nbsp;<i class="bi bi-wikipedia"></i>
        {{- else }}
            {{- if strings.HasPrefix .Destination "http:" -}}
                &nbsp;<i class="bi bi-shield-x"></i>
            {{- end -}}
            &nbsp;<i class="bi bi-link-45deg"></i>
        {{- end -}}
    {{- else if strings.HasPrefix .Destination "mailto:" -}}
    &nbsp;<i class="bi bi-envelope"></i>
    {{- end -}}
</a>