{{- $current := . -}}
<nav class="navbar navbar-expand-lg main-menu" aria-label="main-menu">
    <div class="container">
        {{- $title := site.Title -}}
        {{- with site.Params.BrandTitle -}}
            {{- $title = . -}}
        {{- end -}}
        {{- with site.Params.BrandLogoLarge -}}
            {{- $abs_path := path.Join "/static" . -}}
            {{- if fileExists $abs_path -}}
                <a class="navbar-brand me-auto" href="{{- site.BaseURL -}}" title="{{- $title -}}">
                    <img id="logo" class="site-brand-logo" src="{{- . | absURL -}}" alt="{{- $title -}}" />
                </a>
            {{- end -}}
        {{- else -}}
            <a class="navbar-brand me-auto" href="{{- site.BaseURL -}}" title="{{- $title -}}">
                {{- $title -}}
            </a>
        {{- end -}}
        {{- with index site.Menus "main" -}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{- partial "menu/walk.html" (dict "page" $current "menuEntries" .) -}}
                    <li class="nav-item">
                        {{- $search_page := site.GetPage "search" -}}
                        <form class="search-form" action="{{- $search_page.Permalink -}}" method="GET">
                            <div class="input-group input-group-sm">
                                <input 
                                    type="text" 
                                    name="s" 
                                    class="form-control" 
                                    placeholder="{{- i18n "search-please-enter" -}}" 
                                    aria-label="{{- i18n "search-please-enter" -}}" 
                                    aria-describedby="search-form-button"
                                >
                                <span class="input-group-text" id="search-form-button"><i class="bi bi-search"> </i></span>
                            </div>
                            <button type="submit" class="visually-hidden">{{- i18n "search" -}}</button>
                        </form>
                    </li>
                    {{- $contact_page := site.GetPage "contact" -}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{- $contact_page.Permalink -}}" title="{{- i18n "contact-me" -}}">
                            <i class="bi-envelope"> </i>
                            <span class="d-lg-none">{{- i18n "contact-me" -}}</span>
                        </a>
                    </li>
                </ul>
            </div><!-- collapse -->
        {{- end -}}
    </div><!-- container -->
</nav>
{{- define "_partials/menu/walk.html" -}}
    {{- $page := .page -}}
    {{- range .menuEntries -}}
        {{- $name := .Name -}}
        {{- with .Identifier -}}
            {{- with T . -}}
            {{- $name = . -}}
            {{- end -}}
        {{- end -}}
        {{- $attrs := dict "href" .URL "class" "nav-link" -}}
        {{- $attrs := merge $attrs (dict "title" (printf (i18n "menu-section") $name)) -}}
        {{- if $page.IsMenuCurrent .Menu . -}}
            {{- $attrs = merge $attrs (dict "class" "nav-link active" "aria-current" "page") -}}
        {{- else if $page.HasMenuCurrent .Menu . -}}
            {{- $attrs = merge $attrs (dict "class" "nav-link ancestor" "aria-current" "true") -}}
        {{- end -}}
        <li class="nav-item">
            <a
            {{- range $k, $v := $attrs -}}
                {{- with $v -}}
                {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
                {{- end -}}
            {{- end -}}>{{- $name -}}</a>
            {{- with .Children -}}
            <ul>
                {{- partial "menu/walk.html" (dict "page" $page "menuEntries" .) -}}
            </ul>
            {{- end -}}
        </li>
    {{- end -}}
{{- end -}}
