{{- $current      := .current         -}}
{{- $rows         := dict             -}}
{{- $rowid        := 1                -}}
{{- range sort .config "weight"       -}}
  {{- $row        := dict             -}}
  {{- $groupid    := 1                -}}
  {{- range sort .groups "weight"     -}}
    {{- $group    := dict             -}}
    {{- $widgetid := 1                -}}
    {{- range sort .widgets "weight"  -}}
      {{- if not (in .kexclude $current.Kind) -}}
        {{- $widget := "" -}}
        {{- $path   := path.Join "widgets" (printf "%s%s" .widget ".html") -}}
        {{/*- warnf "Page: %s, widget: %s, path: %s, exists: %v" $current.Title .widget $path (templates.Exists $path) -*/}}
        {{- if templates.Exists (path.Join "_partials" "widgets" (printf "%s%s" .widget ".html")) | not -}}
          {{- $widget  = partial (path.Join "widgets" "not-found.html") (dict "widget" .widget "path" $path) -}}
        {{- else -}}
          {{- $widget = partial $path (dict "current" $current "params" .params) -}}
        {{- end -}}
        {{/*- if templates.Exists $path | not -}}
          {{- $widget  = partial "widgets/not-found.html" (dict "widget" .widget "path" $path) -}}
        {{- else -}}
          {{- if .cache -}}
            {{- if eq (.cache | default "contextual") "contextual" -}}
              {{- $widget = partialCached $path (dict "current" $current "params" .params) ($current.Scratch.Get "page-cache") -}}
            {{- else -}}
              {{- $widget = partialCached $path (dict "current" $current "params" .params) "Permanent" -}}
            {{- end -}}
          {{- else -}}
            {{- $widget = partial $path (dict "current" $current "params" .params) -}}
          {{- end -}}
        {{/*- end -*/}}
        {{- if ne "" $widget -}}
          {{- $group = merge $group (dict (printf "w%d" $widgetid) (dict "name" .widget "content" $widget)) -}}
          {{- $widgetid = math.Add $widgetid 1 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if gt (len $group) 0 -}}
      {{- $row = merge $row (dict (printf "group%d" $groupid) (dict "content" $group)) -}}
      {{- $groupid = math.Add $groupid 1 -}}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $row) 0 -}}
    {{- $class := "row row-cols-1" -}}
    {{- if gt (len $row) 1 -}}
      {{- with .columns -}}
        {{- $class = partialCached "class-columns.html" . (delimit . "-") -}}
      {{- end -}}
    {{- end -}}
    {{- $rows = merge $rows (dict (printf "row%d" $rowid) (dict "name" .name "class" $class "content" $row)) -}}
    {{- $rowid = math.Add $rowid 1 -}}
  {{- end -}}
{{- end -}}
{{- range $rid, $rwrapper := $rows -}}
  <div id="{{- $rwrapper.name -}}" class="widget-area">
    <div class="container">
      <div class="{{- $rwrapper.class -}}">
        {{- range $gid, $gwrapper := $rwrapper.content -}}
          {{- if gt (len $gwrapper.content) 1 -}}
            <div class="col">
              <div class="row row-cols-1">
          {{- end -}}
            {{- range $wid, $wwrapper := $gwrapper.content -}}
              {{- $wwrapper.content | safeHTML -}}
            {{- end -}}
          {{- if gt (len $gwrapper.content) 1 -}}
              </div><!-- row -->
            </div><!-- col -->
          {{- end -}}
        {{- end -}}
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- id -->
{{- end -}}