{{- define "main" -}}
  {{- $current_page  := . -}}
  {{- $display_image := site.Params.author.headerimage | default site.Data.defaults.author.headerimage -}}
  {{- partial "partials/headline.html" (dict "current" . "prefix" "author" "display_img" $display_image "meta" (dict)) -}}
  {{- $class := "odd" -}}
  <section class="author-content">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        {{- $filteredPages := where .Pages "Section" "in" site.Params.mainSections -}}
        {{- $sections      := $filteredPages.GroupBy "Section" -}}
        {{- range $sections -}}
          <div class="col">
            <div class="card">
              <div class="card-header">
                {{- $section_page := site.GetPage .Key -}}
                {{- with $section_page -}}
                  <h2  class="card-title">{{- .Title | safeHTML -}}</h2>
                {{- end -}}
              </div><!-- end of card-header -->
              <div class="card-body">
                <ul>
                  {{- range first 5 (sort .Pages "Date" "desc") -}}  <!-- Show latest 5 posts -->
                      <li>
                          <a href="{{- .RelPermalink -}}">{{- .Title -}}</a> - {{ .Date.Format "Jan 2, 2006" -}}
                      </li>
                  {{- end -}}
                </ul>
                {{- with $section_page -}}
                  <a href="{{- .Permalink -}}">{{- i18n "see-all-posts-section" -}}</a>
                {{- end -}}
              </div><!-- end of card-body -->
            </div><!-- end of card -->
          </div><!-- end of col -->
        {{- end -}}
      </div>
    </div><!-- end of container -->
  </section>
{{- end -}}