{{- define "main" -}}
  {{- $current_page := . -}}
  {{- $def_params   := index site.Params "list_tags" | default (index site.Data.defaults "list_tags")  | default (index site.Data.defaults "list") -}}
  {{- $display_img  := $def_params.headerimage    -}}

  {{- partial "partials/headline.html" (dict "current" . "prefix" "list-tags" "display_img" $display_img "meta" (dict)) -}}
  <section class="tags-content-wrapper">
    <div class="container">
        <div class="row">
          {{- partialCached "partials/widgets/tags-cloud.html" (dict "current" . "params" (dict "title" "")) -}}
        </div><!-- row -->
    </div><!-- container -->
  </section>
{{- end -}}