{{- $current     := .current     -}}
{{- $prefix      := .prefix      -}}
{{- $display_img := .display_img -}}
{{- $meta        := .meta        -}}
{{- if isset $current.Params "images" -}}
  {{- $string := "" -}}
  {{- $image  := $current.Resources.GetMatch (index $current.Params.images 0) -}}
  {{- with $image -}}
    {{- $string = printf "style=\"background: url(%s) center center / cover no-repeat;\"" .Permalink -}}
  {{- end -}}
  <header class="{{- $prefix -}}-headline-wrapper-img" {{ $string | safeHTMLAttr -}}>
    <div class="{{- $prefix -}}-headline-top-img"></div>
    <div class="container {{ $prefix -}}-headline-img">
      {{- partial "partials/breadcrumb.html" $current -}}
      <div class="row">
        <div class="col">
            {{- with $meta.top -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-top">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-top") -}}
            </div><!-- meta -->
            {{- end -}}
            <h1 class="page-title">{{- $current.Title -}}</h1>
            {{- with $meta.middle -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-middle">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-middle") -}}
            </div><!-- meta -->
            {{- end -}}
            <p class="page-summary">
              {{- with $current.Summary -}}
                  {{- . | safeHTML -}}
              {{- else -}}
                  {{- with $current.Description -}}
                      {{- . | safeHTML -}}
                  {{- end -}}
              {{- end -}}
            </p>
            {{- with $meta.bottom -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-bottom">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-bottom") -}}
            </div><!-- meta -->
            {{- end -}}
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </header>
{{- else -}}
  <header class="{{- $prefix -}}-headline-wrapper" >
    <div class="container {{ $prefix -}}-headline">
      {{- partial "partials/breadcrumb.html" $current -}}
      <div class="row">
        <div class="col">
            {{- with $meta.top -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-top">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-top") -}}
            </div><!-- meta -->
            {{- end -}}
            <h1 class="page-title">{{- $current.Title -}}</h1>
            {{- with $meta.middle -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-middle">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-middle") -}}
            </div><!-- meta -->
            {{- end -}}
            <p class="page-summary">
              {{- with $current.Summary -}}
                  {{- . | safeHTML -}}
              {{- else -}}
                  {{- with $current.Description -}}
                      {{- . | safeHTML -}}
                  {{- end -}}
              {{- end -}}
            </p>
            {{- with $meta.bottom -}}
            <div class="{{- $prefix -}}-post-meta {{ $prefix -}}-post-meta-bottom">
                {{- partial "meta.html" (dict "current" $current "context" $current.Parent "meta" . "class" "post-meta-bottom") -}}
            </div><!-- meta -->
            {{- end -}}
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </header>
{{- end -}}